.btn {
  background-color: #1775ee;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  color: white;
  cursor: pointer;
}

.btn:disabled {
  background-color: #415b7e;
  color: rgb(177, 153, 153);
}

.unfollow {
  background-color: red;
  color: black;
}