.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0rem;
}

.userInfo {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  flex: 5;
}

.userInfo span {
  font-size: 14px;
  flex: 1;
  color: var(--textColor);
}

.online {
  position: absolute;
  top: -0.1rem;
  left: 1.8rem;
  width: 0.2rem;
  height: 0.2rem;
  border: 0.2rem solid #1775ee;
  border-radius: 50%;
}
