.container {
  display: flex;
  height: 12rem;
  width: 100%;
  padding: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  align-self: left;
  gap: 1.2rem;
  background-color: var(--bgSoft);
}

@media screen and (max-width : 460px) {
  .container {
    width: 90%;
    align-self: center;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
  }
}

@media screen and (max-width : 850px) {
  .container {
    width: 88%;
    align-self: center;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
  }
}

@media screen and (min-width : 851px) {
  .container {
    width: 95%;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
    align-self: center;
  }
}