.cart {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  background-color: var(--bg);
  margin-bottom: 1rem;
  padding: 0.6rem;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  width: 100%;
}

.cartTitle {
  color: var(--textColorSoft);
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
}
