.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.image img{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    z-index: 99999;
}

.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-height: 95%;
    display: flex;
    border-radius: 0.5rem;
    overflow: scroll;
    gap: 3rem;
}

.about, .loginForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.about {
    gap: 0.6rem;
    padding-left: 1.5rem;
}

.loginLogo {
    font-size: 2.8rem;
    color: #1775ee;
}

.loginDescription {
    font-size: 22px;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

.loginForm {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border: none;
    margin-bottom: 1rem;
}

.invalidMessage {
    align-self: center;
    color: red;
    width: 90%;
    margin-top: 0.5rem;
}

.loginInput {
    height: 2.5rem;
    width: 90%;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 15px;
    border: 1px solid #b7b7b7;
    outline: none;
}

.formBox button {
    height: 2.5rem;
    width: 90%;
    border-radius: 0.5rem;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

.loginButton {
    margin-top: 1rem;
    background-color: #1775ee;
    color: white;
}

.googleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    background-color: whitesmoke;
    cursor: pointer;
}

.forgot {
    font-size: 15px;
    cursor: pointer;
    margin: 1rem 0rem;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.842);
}

.registerButtonLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
 }

 .loginButton:disabled {
    color: rgb(87, 85, 85);
    opacity: 0.8;
    cursor: auto;
 }

.registerButton {
    background-color: #42b72a;
    color: white;
    width: 100%;
}


@media screen and (max-width : 920px) {
    .loginWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .about {
        display: none;
    }

    .formBox {
        width: 70%;
    }

    .loginForm{
        gap: 0.3rem;
    }
}

@media screen and (max-width : 560px) {
    .formBox {
        width: 90%;
    }
}

@media screen and (max-width : 400px) {
    .formBox {
        width: 95%;
    }
}