.leftbarSection {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: calc(100vh - 3rem);
  position: sticky;
  top: 3rem;
  overflow: scroll;
  background-color: var(--bg);
  color: var(--textColor);
}

::-webkit-scrollbar{
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container hr {
  border: none;
  height: 1px;
  background-color: var(--border);
  margin: 0.5rem 0rem;
}

.title {
  color: grey;
  font-size: 14px;
  padding: 0.5rem 0rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item img {
  width: 2rem;
}

.profilePicture img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0rem;
}


@media screen and (max-width : 550px) {
  .leftbarSection {
    display: none;
  }
}

@media screen and (max-width : 850px) {
  .leftbarSection {
    width: 30%;
  }
}