.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--bgSoft);
  padding-left: 1rem;
}

@media screen and (max-width : 850px) {
  .container {
    width: 70%;
    padding: 0rem;
  }
}

@media screen and (max-width : 550px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .hide {
    display: none;
  }
}