.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0rem;
}

.userInfo {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  flex: 6;
}

.profilePicture {
  flex: 1;
}

.message {
  flex: 1;
  margin-top: 0.25rem;
  font-size: 12px;
  text-align: justify;
  color: var(--textColorSoft);
}

.owner {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-right: 0.5rem;
  color: var(--textColor);
}

.time {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.menu {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  font-size: 12px;
  color: var(--textColorSoft);
  padding-right: 0.5rem;
  position: relative;
}

.options {
  position: relative;
  top: 1rem;
}