.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
    padding: 0rem 1rem;
}

@media screen and (max-width : 390px) {
    .container {
        padding: 0rem 0.5rem;
    }
}