.cart {
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  background-color: var(--bg);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.cartTitle {
  color: var(--textColorSoft);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
