.container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}

.form {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
}

.invalidMessage {
    align-self: center;
    color: red;
    width: 90%;
    margin-top: 0.5rem;
}

.form input {
    height: 2.5rem;
    width: 90%;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-top: 1.5rem;
    font-size: 15px;
    border: 1px solid #b7b7b7;
    outline: none;
}

.sendLink:disabled {
    color: rgb(87, 85, 85);
    opacity: 0.8;
    cursor: auto;
}

.sendLink {
    height: 2.5rem;
    width: 90%;
    border-radius: 0.5rem;
    font-size: 15px;
    margin-top: 1.5rem;
    background-color: #1775ee;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width : 920px) {
    .form{
        width: 70%;
        gap: 0.3rem;
    }
}

@media screen and (max-width : 560px) {
    .form {
        width: 90%;
    }
}

@media screen and (max-width : 400px) {
    .form {
        width: 95%;
    }
}