.rightbarSection {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  width: 30%;
  position: sticky;
  top: 3rem;
  overflow: scroll;
  background-color: var(--bgSoft);
  padding: 1rem; 
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width : 850px) {
  .rightbarSection {
    display: none;
  }
}